; Copyright 2024 Vivid Inc. and/or its affiliates.
;
; Licensed under the Apache License, Version 2.0 (the "License")
; you may not use this file except in compliance with the License.
; You may obtain a copy of the License at
;
;     https://www.apache.org/licenses/LICENSE-2.0
;
; Unless required by applicable law or agreed to in writing, software
; distributed under the License is distributed on an "AS IS" BASIS,
; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
; See the License for the specific language governing permissions and
; limitations under the License.

; Note: This file is subordinate and parallel to its sibling Leiningen
; file project.clj. It exists strictly for the purpose of cooperating
; with your IDE.

{:aliases {:clojure-1.10.0 {:override-deps {org.clojure/clojure {:mvn/version "1.10.0"}}}
           :clojure-1.10.3 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
           :clojure-1.11.4 {:override-deps {org.clojure/clojure {:mvn/version "1.11.4"}}}
           :clojure-1.12.0 {:override-deps {org.clojure/clojure {:mvn/version "1.12.0"}}}}

 :deps    {clj-commons/pomegranate      {:mvn/version "1.2.24"}
           io.methvin/directory-watcher {:mvn/version "0.18.0"}
           net.vivid-inc/art            {:mvn/version "0.7.2"}
           org.clojure/core.async       {:mvn/version "1.6.681"}
           org.clojure/data.json        {:mvn/version "2.5.0"}
           org.clojure/tools.cli        {:mvn/version "1.1.230"}}

 :paths   ["src" "resources"
           "test" "test-resources"]}
