# CircleCI configuration file
#
# Referencing https://circleci.com/docs/2.0/language-clojure/

version: 2.1

#
# Individual job definitions
#

ash-ra-template-job: &ash-ra-template-job
  environment:
    LEIN_ROOT: "true"
    # Customize the JVM maximum heap limit
    JVM_OPTS: -Xmx3200m

  steps:
    - checkout
    - restore_cache:
        keys:
          - m2-deps-{{ checksum "ash-ra-template/project.clj" }}
          # Fallback
          - m2-deps-
    - run:
        command: lein build
        working_directory: ash-ra-template
    - save_cache:
        key: m2-deps-{{ checksum "ash-ra-template/project.clj" }}
        paths:
          - ~/.m2
    - run:
        name: Upload code coverage report to codecov.io
        command: |
          if curl --silent --fail https://codecov.io/bash > codecov.sh ; then
            bash < codecov.sh
          else
            echo skipping codecov.io: script download error
          fi
        working_directory: ash-ra-template
    # The boot-art build requires the ART jar file installed in the local ~/.m2 directory
    - persist_to_workspace:
        root: ~/.m2
        paths: .

boot-art-job: &boot-art-job
  steps:
    - checkout
    - attach_workspace:
        at: ~/.m2
    - run:
        command: boot test
        working_directory: boot-art


jobs:
  ash-ra-template-jdk-8-job:
    <<: *ash-ra-template-job
    docker:
      - image: circleci/clojure:openjdk-8-lein-2.9.1
  boot-art-jdk-8-job:
    <<: *boot-art-job
    docker:
      - image: circleci/clojure:openjdk-8-boot-2.8.2
  ash-ra-template-jdk-11-job:
    <<: *ash-ra-template-job
    docker:
      - image: circleci/clojure:openjdk-11-lein-2.9.1
  boot-art-jdk-11-job:
    <<: *boot-art-job
    docker:
      - image: circleci/clojure:openjdk-11-boot-2.8.2

workflows:
  version: 2
  assess-quality:
    jobs:
      - ash-ra-template-jdk-8-job
      - boot-art-jdk-8-job:
          requires:
            - ash-ra-template-jdk-8-job
      - ash-ra-template-jdk-11-job
      - boot-art-jdk-11-job:
          requires:
            - ash-ra-template-jdk-11-job
