{:deps {instaparse/instaparse {:mvn/version "1.4.10" :exclusions [org.clojure/spec.alpha]}
        reduce-fsm/reduce-fsm {:mvn/version "0.1.4"}
        org.suskalo/farolero  {:mvn/version "1.4.3"}}
 :paths ["src"]}
