{:aliases
  {:art {:extra-deps {net.vivid-inc/clj-art {:mvn/version "0.6.1"}}
         :main-opts  ["-m" "vivid.art.clj-tool" "templates"
                      "--dependencies" "{org.clojure/clojure,{:mvn/version,\"1.10.1\"}}"
                      "--output-dir" "target"]}}}
