{:aliases 
  {:art {:extra-deps {vivid/clj-art {:mvn/version "0.6.0"}}
         :main-opts  ["-m" "vivid.art.clj-tool"
                      "--output-dir" "target"
                      "templates"
                      "--bindings" "greek.edn"
                      "--delimiters" "jinja"]}}}
