; Copyright 2022 Vivid Inc.

{:deps    {net.vivid-inc/art-cli {:mvn/version "0.7.0"}}

 :aliases {:art            {:extra-paths ["src"]
                            :main-opts   ["-m" "vivid.art.clj-tool"]}

           ; See https://github.com/clj-kondo/clj-kondo
           :clj-kondo      {:extra-deps  {clj-kondo/clj-kondo {:mvn/version "RELEASE"}
                                          org.clojure/clojure {:mvn/version "1.10.0"}}
                            :main-opts   ["-m" "clj-kondo.main"
                                          "--config" "../.clj-kondo/config.edn"
                                          "--lint" "src/:test/"
                                          "--parallel"]}

           :clojure-1.10.0 {:override-deps {org.clojure/clojure {:mvn/version "1.10.0"}}}
           :clojure-1.10.1 {:override-deps {org.clojure/clojure {:mvn/version "1.10.1"}}}
           :clojure-1.10.2 {:override-deps {org.clojure/clojure {:mvn/version "1.10.2"}}}
           :clojure-1.10.3 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
           :clojure-1.11.0 {:override-deps {org.clojure/clojure {:mvn/version "1.11.0"}}}
           :clojure-1.11.1 {:override-deps {org.clojure/clojure {:mvn/version "1.11.1"}}}

           ; See https://github.com/cloverage/cloverage
           :cloverage      {:extra-deps  {cloverage/cloverage {:mvn/version "1.2.4"}}
                            :extra-paths ["test"]
                            :main-opts   ["-m" "cloverage.coverage"
                                          "--codecov" "--html" "--junit" "--src-ns-path" "src" "--test-ns-path" "test"]}

           :gen            {:extra-paths ["src"]
                            :main-opts   ["-m" "vivid.art.clj-tool"
                                          "--bindings" "../assets/vivid-art-facts.edn"
                                          "--delimiters" "erb"
                                          "--dependencies" "[[net.vivid-inc/art-cli \"0.7.0\"]]"
                                          "assets/README.md.art"]}

           ; See https://github.com/weavejester/eftest
           :test           {:extra-deps  {eftest/eftest {:mvn/version "0.6.0"}}
                            :extra-paths ["test"]
                            :main-opts   ["-e" "(require '[eftest.runner :refer [find-tests run-tests]]) (run-tests (find-tests \"test\"))"]}}}
