{;; Referencing https://github.com/practicalli/clojure-deps-edn
 ;; Referencing https://github.com/seancorfield/dot-clojure/blob/develop/deps.edn

 :deps    {net.vivid-inc/art-cli {:mvn/version "0.6.1"}}

 :aliases {:art            {:extra-paths ["src"]
                            :main-opts   ["-m" "vivid.art.clj-tool"]}
           :clojure-1.10.0 {:override-deps {org.clojure/clojure {:mvn/version "1.10.0"}}}
           :clojure-1.10.1 {:override-deps {org.clojure/clojure {:mvn/version "1.10.1"}}}
           :clojure-1.10.2 {:override-deps {org.clojure/clojure {:mvn/version "1.10.2"}}}
           :clojure-1.10.3 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
           :cloverage      {:extra-deps  {cloverage/cloverage {:mvn/version "RELEASE"}}
                            :extra-paths ["test"]
                            :main-opts   ["-m" "cloverage.coverage"
                                          "--codecov" "--html" "--junit" "--src-ns-path" "src" "--test-ns-path" "test"]}
           :mkdocs         {:extra-paths ["src"]
                            :main-opts   ["-m" "vivid.art.clj-tool"
                                          "--bindings" "../assets/vivid-art-facts.edn"
                                          "--delimiters" "{:begin-forms,\"{%\",:end-forms,\"%}\",:begin-eval,\"{%=\",:end-eval,\"%}\"}"
                                          "--dependencies" "{net.vivid-inc/art-cli,{:mvn/version,\"0.6.1\"}}"
                                          "assets/README.md.art"]}
           :test           {:extra-deps  {eftest/eftest {:mvn/version "0.5.9"}}
                            :extra-paths ["test"]
                            :main-opts   ["-e" "(require,'[eftest.runner,:refer,[find-tests,run-tests]]),(run-tests,(find-tests,\"test\"))"]}}}
