{:aliases 
  {:art {:extra-deps {net.vivid-inc/clj-art {:mvn/version "0.6.1"}}
         :main-opts  ["-m" "vivid.art.clj-tool"
                      "--output-dir" "target"
                      "templates"]}}}
