{:aliases 
  {:art {:extra-deps {vivid/clj-art {:mvn/version "0.6.0"}}
         :main-opts  ["-m" "vivid.art.clj-tool"
                      "--bindings" "{updated,\"2021-01-01\"}"
                      "--delimiters" "{:begin-forms,\"{%\",:end-forms,\"%}\",:begin-eval,\"{%=\",:end-eval,\"%}\"}"
                      "--dependencies" "{hiccup,{:mvn/version,\"1.0.5\"}}"
                      "templates"
                      "--output-dir" "target"
                      "--to-phase" "evaluate"]}}}
